//==============================================================================
// Widget Information
//==============================================================================
$widget_name: "Your widget name";
$widget_uri: "https://github.com/your/repo";
$widget_description: "Your widget description.";
$widget_version: "0.0.1";
$widget_wordpress_compatibility: "5.2";
$widget_author: "Firstname Lastname <your@email.com>";
$widget_author-uri: "https://www.yourWebsite.com/";
$widget_license: "GNU General Public License v2 or later";
$widget_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$widget_domain: "yourTextDomain";
$widget_domain-path: "/languages/";
